@import "settings";
//@import "foundation";

// Or selectively include components
@import
  //   "foundation/components/accordion",
  //   "foundation/components/alert-boxes",
"foundation/components/block-grid",
  //   "foundation/components/breadcrumbs",
  //   "foundation/components/button-groups",
"foundation/components/buttons",
  //   "foundation/components/clearing",
  //   "foundation/components/dropdown",
  //   "foundation/components/dropdown-buttons",
  //   "foundation/components/flex-video",
  //   "foundation/components/forms",
"foundation/components/grid",
"foundation/components/inline-lists",
  //   "foundation/components/joyride",
  //   "foundation/components/keystrokes",
"foundation/components/labels",
  //   "foundation/components/magellan",
  //   "foundation/components/orbit",
  //   "foundation/components/pagination",
  //   "foundation/components/panels",
"foundation/components/pricing-tables",
  //   "foundation/components/progress-bars",
  //   "foundation/components/reveal",
"foundation/components/side-nav",
  //   "foundation/components/split-buttons",
  //   "foundation/components/sub-nav",
  //   "foundation/components/switches",
"foundation/components/tables",
  //   "foundation/components/tabs",
  //   "foundation/components/thumbs",
  //   "foundation/components/tooltips",
  //   "foundation/components/top-bar",
"foundation/components/type",
//"foundation/components/offcanvas",
"foundation/components/visibility";

$heading-color-std: #ffffff;
$footer-nav-color: #D7A704;
$footer-nav-hover: #D4E20A;
$default-gold: #D7A704;
$white: #FFFFFF;
$dark-grey: #333333;
$black: #000000;
$orange: #FFA500;

$heading-family: Enriqueta, Alegreya, Belgrano, serif;
$paragraph-font-family: 'Open Sans', tahoma, verdana;

//$h1-size: 2.85em;
//$h2-size: 2.5em;
//$h3-size: 2.1em;
//$h4-size: 1.75em;
//$h5-size: 1.5em;
//$h6-size: 1.3em;

$h1-size: 2.1em;
$h2-size: 1.95em;
$h3-size: 1.70em;
$h4-size: 1.35em;
$h5-size: 1.1em;
$h6-size: .85em;

$h1-lineHeight: 1.2em;
$h2-lineHeight: 1.2em;
$h3-lineHeight: 1.2em;
$h4-lineHeight: 1.3em;
$h5-lineHeight: 1.1em;
$h6-lineHeight: 1.1em;

$smaller-screen: 478;//766px;
//Small 0 - 640px
$small-screen-width: 640px;
//640 and up.
$pc-screen: 1024px;

//########### Mixins

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin headings($font-family, $size, $color, $spacing) {
  font-family: $font-family;
  font-size: $size;
  font-weight: normal;
  color: $color;
  margin-top: 0;
  letter-spacing: $spacing;
  display: block;
}

@mixin box-shadow($h-shadow, $v-shadow, $blur, $color) {
  -moz-box-shadow: $h-shadow $v-shadow $blur $color;
  -webkit-box-shadow: $h-shadow $v-shadow $blur $color;
  -o-box-shadow: $h-shadow $v-shadow $blur $color;
  box-shadow: $h-shadow $v-shadow $blur $color;
}

@mixin links($color, $hover) {
  a.link{color: $color; text-decoration: none;}
  a:hover{color: $hover; text-decoration: underline;}
  a:active{color: $color; text-decoration: none;}
}

//########### Begin Stylesheet

//Some kinda funky namespace work around. Maybe remove after foundation v5+
.foundation-data-attribute-namespace {
  font-family: false;
}


.banner-container{
  background-color: $black;
}

.banner-content-container{
  padding-top: 1.2em;
  padding-bottom: 1.55em;
  .menu-container {
    padding-top: 15.5%;
  }
}

@media all and (max-width: 1024px) {
  .banner-content-container {
    .menu-container {
      padding-top: 9.5%;
    }
  }
}

@media screen and (max-width: $small-screen-width){
  .banner-image{
    padding-top: 8%;
  }
}

a { color: $white; }
a:hover { color: $default-gold;}
a:active { color: $default-gold; }
a:visited { color: $white; }
a:focus { color: $default-gold; }

p{
  color: #f4f4f4;
  font-family: $paragraph-font-family;
  //color: whitesmoke;
  //line-height: 1.5em; //1.6 by default.
}

.nav-block {
  height: 5.5em;

  .nav-container {
    padding-top: .90em; padding-right: 1.3em;
    a:hover{color: $white; text-decoration: underline;}
    a:active{color: $white; text-decoration: underline;}
  }
}

.block-advertising{
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  /*
  //This stuffs up the block-grid....not sure how to do the advertising block
  img {
    display: block;
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
  }
  */
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.banner {
  height: 4.5em;
  padding-top: 50px;
  color: $black;
  z-index: -1;
  //http://stackoverflow.com/questions/18339549/floating-div-over-an-image
}

.banner-bg{
  margin-left: 2%;
  margin-right: 2%;
  background-color: $black;
}

@media screen and (min-width: $smaller-screen){
  .banner-bg {
    margin-left: 0;
    margin-right: 0;
  }
}

.menu-text{
  font-family: Enriqueta, "Alegreya SC", serif;
  font-size: 1.55em;
  color: $default-gold;
}

.box-container {
  background-color: $default-gold;
  h1,h2,h3,h4,h5,h6 {color: $white;}
}

.left-menu-container {
  padding-top: 11%;
}


.block-container {
  background-color: rgba(0, 0, 0, 0.639216);
  width: 100%;
  //opacity: .85;

  .content-container {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    .document-text {
		.white-text {
	    	h1{@include headings($heading-family, $h1-size, $white, 2px);}
	      	h2{@include headings($heading-family, $h2-size, $white, 2px);}
	      	h3{@include headings($heading-family, $h3-size, $white, 2px);}
	      	h4{@include headings($heading-family, $h4-size, $white, 2px);}
      	}
      .article-title{@include headings($heading-family, $h1-size, $default-gold, 2px);}
      a{color: $default-gold;}
      a:hover{color: $orange; border-bottom: $orange 1px solid;}

      .gte-fileset-table td a {
        color: black;
        font-size: .9575em;
      }
      .gte-fileset-table td a:hover {color: $orange; border-bottom: $orange 1px solid;}
    }
  }
  .image-container {
    padding-top: .75em;
    padding-bottom: 1.5em;
    align-content: center;
  }
}

@media all and (max-width: 1020px){
  .block-container{
    //margin-left: 1%;
    width: 98%;
  }
}

.yellow-band {
  background-color: $default-gold;
  padding-top: 15px;
  padding-bottom: 15px;
  float: right;
  width: 75%;
  margin-right: -4.5%;
  -webkit-box-shadow: 0 1px 6px rgba(1,1,1,0.9);
  -moz-box-shadow: 0 1px 6px rgba(1,1,1,0.9);
  box-shadow: 0 1px 6px rgba(1,1,1,0.9);
  margin-bottom: 2%;
  .yellow-band-text{
    font-weight: bold;
    margin-left: 3%;
    color: $black;
    a{color: $black;}
    a:hover{color:$white;}
  }
}

@media all and (max-width: 875px) {
  .yellow-band {
    margin-right: -3.6%;
  }
}

@media all and (max-width: 600px) {
  .yellow-band {
    margin-right: -3.0%;
    margin-bottom: 2.5%;
  }
}

@media all and (max-width: 365px) {
  .yellow-band {
    margin-right: -2.75%;
    margin-bottom: 5%;
  }
}

.block-grid-container{
  margin-top: 5%;
  //padding-top: 4%;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
}

@media all and (max-width: 910px)
{
  .block-grid-container{
    margin-top: 6%;
    //padding-top: 6.5%;
    padding-bottom: 3.5%;
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media all and (max-width: 365px)
{
  .block-grid-container{
    margin-top: 8.8%;
    //padding-top: 8.0%;
    padding-bottom: 0;
    padding-left: 2%;
    padding-right: 2%;
  }
}

.spacer {
  padding-top: 1.8em;
}

.page-list-title{
  a{color: $default-gold;}
}

.pageList-article{
  h3{
    font-family: $heading-family;
    a{color: $default-gold;}
    a:hover{border-bottom: $default-gold 1px solid;}
  }
  font-family: $paragraph-font-family;
  color: $white;
}


.postedDate{
  color: #777777;//dimgrey
  font-weight: normal;

}

.read-more{
  color: $default-gold;
  font-family: $white;
  font-style: italic;
  a{color: $default-gold;}
  a:hover{border-bottom: $default-gold 1px solid;}
  //a:before {content: &#8594 attr(href);}
}

.arrow{
  margin: 0 0 0 0;
  padding-top: 0;
  line-height: 0;
  font-size: 2.0em;
  color: $default-gold;
}

.newsExcerpt{
  color: $white;
}

.news-summary-image-container{
  img {
    display: block;
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
  }
}

.news-entry-container{
  padding-top: 3.5%;
}

@media screen and (max-width: $small-screen-width){
  .news-entry-container {
    padding-top: 10%;
  }
}

.google-maps-directions{
  padding-top: .85rem;
  text-align: center;
  a{color: $default-gold;}
  a:hover{color: $orange; border-bottom: $orange 1px solid;}
}

.secondary-nav-container{
  background-color: rgba(0, 0, 0, 0.639216);
  width: 100%;
}

.header-spacer{
  padding-top: 5.0em;
}

@media screen and (max-width: $small-screen-width){
  .header-spacer {
    padding-top: 3rem;
  }
}

.social-media-container{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.639216);
  //padding-bottom: 2.15em;
  .soc-media-content {
    padding-top: 20px;
    p {text-align: right;}
  }
}

@media screen and (max-width: $small-screen-width){
  .social-media-container {
    .soc-media-content{
      p{text-align: center;}
      text-align: center;
      .icons-container{
        padding-left: 35%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: block;
      }
    }
  }
}

@media all and (max-width: 450px){
  .social-media-container {
    .soc-media-content{
      .icons-container{
        padding-left: 28%;
      }
    }
  }
}

@media all and (max-width: 350px){
  .social-media-container {
    .soc-media-content{
      .icons-container{
        padding-left: 22%;
      }
    }
  }
}

.gte-fileset-table {
  font-family: $paragraph-font-family;
  thead{background: #e3e3e3;}
  td {
    font-size: .86em;
  }

}


.footer-content {
  margin-top: 1.8em;
  .footer-text {
    margin: 0 auto;
    color: $white;
    font-size: .757em;
    a:link {color: $footer-nav-color;}
    a:hover {color: $footer-nav-hover;}
    text-align: center;
    letter-spacing: 1.1px;
    font-weight: normal;
  }
}

.footer-spacer{
  padding-bottom: 2.8rem;
}

@media screen and (max-width: $small-screen-width){
  .footer-spacer{
    padding-bottom: 1.25rem;
  }
}

.pricing-table-button{
  background-color: $default-gold;
  border-color: $default-gold;
  .button{
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
  }
  li.cta-button {
    .buton:hover {
      color: $white;
    }
  }
}

.button{
  background-color: $default-gold;
  border-color: $black;
}

.button:hover{background-color: #3F3F3F;}
.button:focus{background-color: $default-gold; border-color: $white;}

ol{color: $white;}

.square {color: $white; }

nav ul ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
}

nav ul {
  font-family: $paragraph-font-family;
  font-size: .88rem;
  font-weight: bold;
  background: $default-gold;
  background: linear-gradient(top, $default-gold  0%, #f9c906 100%);
  background: -moz-linear-gradient(top, $default-gold  0%, #f9c906 100%);
  background: -webkit-linear-gradient(top, $default-gold  0%,#f9c906 100%);
  box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
  padding: 0 10px;
  //border-radius: 2px;
  list-style: none;
  position: relative;
  display: inline-table;
}

@media screen and (max-width: 754px){
  nav ul {
    font-size: .80rem;
    padding: 0 0;
  }
}

nav ul:after {
  content: ""; clear: both; display: block;
}

nav ul li {
  float: left;
}

nav ul li:hover {
  background: #4b545f;
  background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
  background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
  background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}

nav ul li:hover a {
  color: $white;
}

nav ul li a {
  display: block; padding: 15px 30px;
  color: #757575; text-decoration: none;
}

nav ul li a:visited {color: $black;}

nav ul ul {
  background: #5f6975;
  border-radius: 0px; padding: 0;
  position: absolute; top: 100%;
  z-index: 5;
}

nav ul ul li {
  float: none;
  border-top: 1px solid #6b727c;
  border-bottom: 1px solid #575f6a;
  position: relative;
}

nav ul ul li a {
  padding: 10px 30px;
  color: $white;
}

@media screen and (max-width: 754px){
  nav ul ul li a {
    padding: 8px 18px;
    color: $white;
  }
}

nav ul ul li a:hover {
  background: #4b545f;
}

nav ul li {
  float: left;
}

nav ul li:hover {
  background: #4b545f;
  background: linear-gradient(top, $dark-grey 0%, #5f6975 40%);
  background: -moz-linear-gradient(top, $dark-grey 0%, #5f6975 40%);
  background: -webkit-linear-gradient(top, $dark-grey 0%,#5f6975 40%);
  color: $white;
  //background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
  //background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
  //background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}

nav ul li a:focus {color: $white;}

nav ul li:hover a {
  color: $white;
}

nav ul li a {
  display: block;
  padding: 10px 10px;
  color: #353535;
  text-decoration: none;
}

@media screen and (max-width: 684px){
  nav ul li a {
    padding: 8px 7px;
  }
}

nav ul ul ul {
  position: absolute; left: 100%; top:100%;
}

.navigation {
  list-style: none;
  background: $dark-grey;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  margin-left: 0;
  overflow: auto;
  overflow-y: scroll;
  .sub-menu {
    .nav-item {
      a {padding-left: 12%;}
    }
  }
}

.nav-item {
  width: 220px;
  border-top: 1px solid #111;
  border-bottom: 1px solid $black;
  a {
    display: block;
    padding: .8em 0 .8em .8em;
    background: -webkit-linear-gradient(315deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    color: white;
    font-size: .88em;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: color 0.2s, background 0.5s;
    transition: color 0.2s, background 0.5s;
  }
  a:hover{
    background: -webkit-linear-gradient(315deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.12) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.12) 100%);
    color: $default-gold;
  }

}

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  top: 35px;
  left: 15px; //hide the icon for larger screen sizes
  z-index: 2;
  width: 30px;
  height: 20px;
  cursor: pointer;
  background-image: url("../images/menu/gold-hamburger.png");
  background-size: contain;
}


.nav-trigger:checked + label {
  left: 220px;
}

.nav-trigger:checked ~ #page-background {
  left: 220px;
  box-shadow: 0 0 2px 2px rgba(150, 150, 150, 0.5);
}

.nav-trigger + label, #page-background {
  transition: left 0.2s;
}

.sub-menu {
  margin-left: 0;
}

.eventSponsorsContainer{
  padding-top: 3.5%;
  h3{@include headings($heading-family, $h3-size, $white, 2px);}
}

.image-block-grid-container{
  padding-top: 2%;
  padding-bottom: 2%;
}

.image-block-grid-title{
  color: white;
  font-family: $heading-family;
  font-size: $h4-size;
  line-height: $h4-lineHeight;
  padding-bottom: 1.2rem;
  margin-left: .01em;
}

.cyclesacpe-sm-img-container {
  padding-top: 63%;
}

@media screen and (max-width: $small-screen-width) {
  .cyclesacpe-sm-img-container {
    padding-top: 5%;
  }
}

.cyclescape-bttm-rgt-img {
  padding-top: 2%;
  padding-left: 10%;
}

@media screen and (max-width: $small-screen-width){
  .cyclescape-bttm-rgt-img {
    padding-top: 5;
    padding-left: 0;
  }
}

@media screen and (max-width: 346px){
  .cyclescape-bttm-rgt-img {
    padding-top: 0;
    padding-left: 8%;
    padding-bottom: 6%;
  }
}

.cyclescape-image-container {
  border: solid 1px #FFF;
  padding: 10px 10px 10px 10px;
  margin: 10px 2px 10px 2px;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  margin-bottom: 15px;
  caption{ color: $white; text-align: left; margin-bottom: 10px;}
  th {color: $white;}
  td {color: $white;}
}

table.prizes-table {
  border: solid 1px #DDDDDD;
  margin-left: 0;
  margin-bottom: 1.25rem;


  caption{
    font-family: $heading-family;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    text-align: center;
  }

  td.title {
    background-color: #333333;
    padding: 0.9375rem 1.25rem;
    text-align: center;
    color: #EEEEEE;
    font-weight: normal;
    font-size: 1rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }
  td.first {
    background-color: #F6F6F6;
    padding: 0.9375rem 1.25rem;
    text-align: center;
    color: #333333;
    font-weight: normal;
    font-size: 1.3rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }

  td.second{
    background-color: #FFFFFF;
    padding: 0.9375rem;
    text-align: center;
    color: #777777;
    font-size: 1.25rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.4;
    border-bottom: dotted 1px #DDDDDD;
  }

  td.third {
    background-color: #FFFFFF;
    padding: 0.9375rem;
    text-align: center;
    color: #333333;
    font-size: 1.2rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    border-bottom: dotted 1px #DDDDDD;
  }
  td.misc{
    background-color: #FFFFFF;
    padding: 0.9375rem;
    text-align: center;
    color: #333333;
    font-size: 1.2rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    border-bottom: dotted 1px #DDDDDD;
  }
  p{
    color: #222;
    font-family: inherit;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    margin-bottom: 0;
  }
}

.two-column-heading-container{
  padding-top: 1.8rem;
}